:root {
  --header-bg-color: #F6F6F7;
  --font-color-dark: #222222;
  --font-color-light: #888888;
  --required-star: #C90000;
}

body {
  margin: 0;
  color: var(--font-color-dark);
}

.cart-details {
  display: none;
}

.container {
  width: 100%;
  max-width: 960px; 
  margin: 0 auto
}

main {
  padding: 20px; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; 
}

.image-container img {
  height: 650px;
}

.invalid-size-msg {
  color: var(--required-star);
  font-size: 12px;
  margin-top: 0;
}

header {
  background-color: var(--header-bg-color);
}

.cart {
  display: flex;
  justify-content: end;
  width: 100%;
  max-width: 1280px;
  padding: 8px;
  margin: 0 auto;
}

.cart i {
  display: none;
}

.section {
  margin-top: 12px;
  margin-bottom: 12px;
}

.description {
  font-size: 14px;
  color: var(--font-color-light);
  padding: 12px 0;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

.price {
  padding: 12px 0;
}

.size-label {
  color: var(--font-color-light);
  font-size: 13px;
}

.required-mark {
  color: var(--required-star);
}

.add-cart-btn {
  padding: 10px 24px; 
  background-color: #FFFFFF;
  font-weight: 800;
  transition: background-color 0.2s, color 0.2s; 
  cursor: pointer;
}

.add-cart-btn:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.size-options input[type="radio"] {
  display: none;
}

.size-options label {
  display: inline-block;
  position: relative;
  padding: 10px 16px;
  font-size: 12px;
  cursor: pointer;
  color: var(--font-color-light);
  border: 1px solid #ccc;
  margin-right: 5px;
}

.size-options input[type="radio"]:checked + label {
  border: 0;
}

.size-options input[type="radio"]:checked + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: #222222 2px solid;
  margin-top: -2px;
}

.mini-cart {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
  width: 340px;
  padding: 10px;
  font-size: 14px;
}

.mini-cart .image-container {
  padding: 0 15px;
}

.mini-cart img {
  max-width: 100%;
  height: auto;
}

.mini-cart-container {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px var(--header-bg-color) solid;
  top: 32px;
  z-index: 1;
}

.hidden {
  display: none;
}

.my-cart-link {
  text-decoration: none;
  color: var(--font-color-light);
  font-size: 12px;
}

.selected-size {
  color: var(--font-color-dark);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto
  }

  header {
    width: 100%;
  }

  .cart {
    width: auto;
    padding: 10px;
  }

  main {
    padding: 12px; 
    grid-template-columns: 1fr;
    grid-gap: 20px; 
  }

  main img {
    width: 100%;
    height: auto !important;
  }

  .my-cart-link .my-cart-label {
    display: none;
  }

  .cart i {
    display: inline;
  }
}